@import './var';

.article-box {
    width: 675px;
    .main-img {
        max-width: 100%;
        margin-bottom: 16px;
    }
    .title {
        font-size: 1.67em;
        font-weight: 600;
        padding: 30px 0 0;
        margin-bottom: 20px;
    }
    .article-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
    .user-avatar {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        border-radius: 50%;
    }
    .user-name {
        margin-right: 16px;
    }
    .time {
        margin-left: 16px;
    }
    .tag-list {
        display: flex;
        margin-bottom: 16px;
        .item {
            margin-right: 8px;
            color: #fff;
            background-color: #f00;
        }
    }
    .article {
        img {
            max-width: 100%;
        }
    }
}

.article-content {
    h1 {

    }
    h2 {
    }
    h3 {
        font-size: 1.4em;
        border-left: solid 8px #555;
        padding: 1em;
    }
    p {
        line-height: 1.8em;
        font-size: 1.2em;
        color: #333;
    }
}

.relate-article-list {
    display: flex;
    flex-wrap: wrap;
    width: 675px;
    .item {
        width: 286px;
        height: 200px;
        margin-right: 16px;
        margin-bottom: 16px;
    }
    .img {
        width: 286px;
        height: 171px;
    }
    .title {
        
    }
}

.comment-list {
    border: 1px solid #eee;
    .item {
        display: flex;
        padding: 16px;
        border: 1px solid #eee;
    }
    .user-avatar {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        border-radius: 50%;
    }
    .header {
        display: flex;
        align-content: center;
    }
    .user-name {
        margin-right: 16px;
    }
    .like {
        &.active {
            color: #f00;
        }    
    }
}

.page-article-detail {

}

.article-like {
    &.active {
        color: #f00;
    }
}